*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;    
  justify-content: center;
  align-items: center;
}

.symbols{
  display: flex;  
  gap: 20px;
  color: #6a6a6a;
}

.symbols p{
  font-size: 2rem;
  margin: 0;
}

.symbols p.active{
  color: white;
}
.game{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.game img {
  width: 70px;
  height: 70px;
}

.game .tile {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;  
}

.scoreBoard h1{
  color: white;
  font-size: 2rem;
}

.tile{
  background: linear-gradient(-45deg, #747474 40%, #ffffff 50%, #484848 60%);
  /* background-size: 300%; */
  /* background-position-x: 100%; */
  animation: shimmer 1s  linear;
}

.tile p{
  font-size: 2rem;
  color: white;
}

.noPointer {
  pointer-events: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
    opacity: 0.75;
  }
  50% {
    transform: translateX(5px) rotate(0deg);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-5px) rotate(5deg);
    opacity: 0.75;
  }
}

.invalidMove {
  animation: shake 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.pop {
  animation: pop 0.3s ease-in-out;
}

.slideDown {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(25%);
    opacity: 0.75;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  75% {
    transform: translateY(75%);
    opacity: 0.75;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}